default:
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
        Behat\MinkExtension:
            sessions:
                symfony:
                    symfony: ~
            base_url: ''
    suites:
        booking:
            contexts:
                - App\Tests\Behat\BookingContext